<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trendl{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/trendluser/css/style.css">
    {% endblock %}
</head>
<body>
<div class="band_div">
    <h1>Trendl</h1>
    {% block login %}
        {# LOGIN TEMPORAIRE #}
        <div class="login_div">
            <form class="login_form" action="check_login.php">
                <div class="login_input">
                    <label class="user_name">Nom d'utilisateur</label><br />
                    <input class="login_user" type="text" name="user_name" autofocus required/><br />
                    <label class="user_passwd">Mot de passe</label><br />
                    <input class="login_passwd" type="password" name="user_passwd" required/>
                </div>
                <input type="submit" class="login_btn" value="Se connecter" />
            </form>
        </div>
        {# LOGIN TEMPORAIRE - FIN#}
    {% endblock %}
</div>
</body>
</html>